/**
 * Place your custom styles here.
 */


.landinghero {
    background-size: cover;
    background-position: center center;
    min-height: 500px;
}

.landinghero__content {
    text-align: center;
    color: orange;
    padding-top: 200px;
}

.landinghero__content__title {
    text-transform: uppercase;
    font-size: 62px;
}

.landinghero__content__description {
    font-size: 32px;
}

